In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [4]:
df.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
0,01-Feb-2021,13758.60,14336.35,13661.75,14281.20,870529495,51840.22
1,02-Feb-2021,14481.10,14731.70,14469.15,14647.85,914965225,58177.74
2,03-Feb-2021,14754.90,14868.85,14574.15,14789.95,869477087,49312.35
3,04-Feb-2021,14789.05,14913.70,14714.75,14895.65,884686415,47811.80
4,05-Feb-2021,14952.60,15014.65,14864.75,14924.25,935629058,54394.63

In [10]:
print(df['Open'].dtype)

float64

In [9]:
print(df['Date'].astype('category'))

0      01-Feb-2021
1      02-Feb-2021
2      03-Feb-2021
3      04-Feb-2021
4      05-Feb-2021
          ...
121    29-Jul-2021
122    30-Jul-2021
123    02-Aug-2021
124    03-Aug-2021
125    04-Aug-2021
Name: Date, Length: 126, dtype: category
Categories (126, object): ['01-Apr-2021', '01-Feb-2021', '01-Jul-2021', '01-Jun-2021', ..., '30-Jun-2021', '30-Mar-2021', '31-Mar-2021', '31-May-2021']