In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1, 1, 1], [2, 4, 8], [3, 9, 27],[4, 16, 64], [5, 25, 125], [6, 36, 216], 
                  [7, 49, 343]],columns=['a', 'b', 'c'])

In [4]:
df.head()

   a   b    c
0  1   1    1
1  2   4    8
2  3   9   27
3  4  16   64
4  5  25  125

In [5]:
df.to_csv('export.csv')